<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Changelog</title>
        <style type="text/css">
            {{ source('node_modules/handorgel/lib/css/handorgel.min.css') }}
            {{ source('changelog.css') }}
        </style>
    </head>
    <body>
        <input id="menu" type="checkbox" class="menu-trigger">

        <header>
            <h1>Changelog {{ newTag }} <small>- Diff with {{ oldTag }}</small></h1>
            <label for="menu" class="fr menu-label">Menu</label>
        </header>

        <nav class="menu">
            <ul>
                {% for folder, folderData in folders %}
                    <li>
                        <a href="#{{ folder }}"><b>{{ folder }}</b></a>
                        <ul>
                            {% if folderData.missingOrNew.length > 0 %}
                                <li><a href="#{{ folder }}-missing-or-new">New or removed files</a></li>
                            {% endif %}
                            {% for site, siteData in folderData.sites %}
                                <li><a href="#site-{{ loop.index }}">{{ site }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </nav>

        <main>
            {% for folder, folderData in folders %}
                <h2 id="{{ folder }}">{{ folder }}</h2>

                <div class="handorgel">
                    {% if folderData.missingOrNew.length > 0 %}
                        <h3 class="handorgel__header">
                            <button class="handorgel__header__button" id="{{ folder }}-missing-or-new">
                                <b>New or removed files</b>
                            </button>
                        </h3>
                        <div class="handorgel__content">
                            <div class="handorgel__content__inner">
                                {% if previewOnlineUrl %}
                                    <a href="{{ previewOnlineUrl }}/{{ folder }}" target="_blank">&raquo; Online Preview</a>
                                {% endif %}

                                <ul>
                                    {% for missingOrNew in folderData.missingOrNew %}
                                        <li>{{ missingOrNew }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {% for site, siteData in folderData.sites %}
                        <h3 class="handorgel__header">
                            <button class="handorgel__header__button" id="site-{{ loop.index }}">
                                <i>{{ site }}</i>
                            </button>
                        </h3>
                        <div class="handorgel__content">
                            <div class="handorgel__content__inner">
                                {% if previewOnlineUrl %}
                                    <a href="{{ previewOnlineUrl }}/{{ site }}" target="_blank">&raquo; Online Preview</a>
                                {% endif %}

                                {% for sectionIndex, sectionData in siteData.sections %}
                                    <pre>{{ sectionData.html }}</pre>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </main>

        <script>
            {{ source('node_modules/handorgel/lib/js/umd/handorgel.min.js') }}
    
            document.querySelectorAll('.handorgel').forEach((element) => {
                var accordion = new handorgel(element);
            });     
        </script>
    </body>
</html>